.control-button {
  font-size: 50px !important ;
  height: 150px !important;
  min-width: 280px !important;
  margin: 0 30px;
}
.control-button-2 {
  font-size: 40px !important ;
  height: 120px !important;
  min-width: 280px !important;
  margin: 0 30px;
  background-color: green;
  color: white;
}

.separator{
    border: 10px solid black;
}
.time-select{
    font-size: 50px !important;
    height: 60px;
}