.control-button {
  font-size: 14px !important;
  height: 36px !important;
  min-width: 96px !important;
  margin: 0 4px;
}

.control-button-2 {
  font-size: 13px !important;
  height: 32px !important;
  min-width: 120px !important;
  margin: 0 4px;
  background-color: green;
  color: white;
}

.separator {
  border: 4px solid black;
}

.time-select {
  font-size: 14px !important;
  height: 32px;
}
