@font-face {
  font-family: 'Digital';
  src: url('../fonts/DS-DIGIT.TTF') format('truetype');
}

.font-digital {
  font-family: 'Digital', sans-serif;
  font-size: 120px;
  color: black;
}

body {
  // background-color: black;
}